<section class="content-header">
	<h1>
		学生管理 <small></small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
		<li class="active">学生信息</li>
	</ol>
</section>

<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title">学生信息管理</h3>
				</div>
				<div class="box-body">
					<form id="searchForm" role="form">
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label>省</label>
									<input type="hidden" name="addrCodeMind" title="设置查询时其地域信息所属主体" value="class"/>
									<select id="common_province" name="s_province" class="form-control">
									</select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label>市</label>
									<select id="common_city" name="s_city" class="form-control">
									</select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label>区</label>
									<select id="common_area" name="s_area" class="form-control">
									</select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label>学校名称</label>
									<input type="text" name="s_schoolName" class="form-control"  placeholder="请输入学校名称">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label>家长姓名：</label>
									<input type="text" name="s_parentName" class="form-control"  placeholder="请输入家长姓名">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label>家长手机号码：</label>
									<input type="text" name="s_parentPhone" class="form-control"  placeholder="请输入家长手机号码">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label>学生姓名：</label>
									<input type="text" name="s_name" class="form-control"  placeholder="请输入学生姓名">
								</div>
							</div>
							<div class="col-sm-2">
								<div class="form-group">
									<label></label>
									<a id="search" class="btn btn-block btn-social btn-info">
										<i class="fa fa-search"></i> 查询
									</a>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="box-footer">
					<div class="row">
						<div class="col-sm-2">
							<a id="batchRemove" class="btn btn-block btn-social btn-danger disabled">
								<i class="fa fa-trash"></i> 批量删除
							</a>
						</div>
						<div class="col-sm-2">
							<a class="btn btn-block btn-social btn-success" data-toggle="modal" href="#myModal" onclick="initvalue();">
								<i class="fa fa-plus"></i> 添加
							</a>
						</div>
						<div class="col-sm-2">
							<a class="btn btn-block btn-social btn-info disabled">
								<i class="fa fa-trash"></i> 批量导入
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12" style="padding: 20px;">
							<table id="student_table" class="table table-bordered table-hover table-striped">
								<thead>
									<tr>
										<th class="center" width="10px">
											<label>
												<input type="checkbox" class="ace" id="selectAll"/>
												<span class="lbl"></span>
											</label>
										</th>
										<th width="80px">学生姓名</th>
										<th width="30px">性别</th>
										<th width="80px">生日</th>
										<th width="40px">类型</th>
										<th width="80px">学生卡号</th>
										<th width="80px">学校</th>
										<th width="80px">年级</th>
										<th width="80px">班级</th>
										<th width="80px">家长信息</th>
										<th width="80px">创建人</th>
										<th width="120px">创建时间</th>
										<th width="80px">操作</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div><!-- box-footer end -->
			</div>
		</div>
	</div>
	
	<!-- Modal -->
	<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
	  		<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="myModalLabel">添加学生信息</h4>
				</div>
				<div class="modal-body">
					<form id="add-form" class="form-horizontal add-form" role="form" method="post" action="../sys/mergeclass">
						<input type="hidden" name="editid" value='0'/>
						<div class="form-group">
							<label for="className" class="col-sm-3 control-label">姓名</label>
							<div class="col-sm-6">
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-user"></i>
									</div>
									<input name="name" type="text" class="form-control">
								</div>
							</div>
						</div>
						<div class="form-group" id="province">
							<label class="col-sm-3 control-label">性别</label>
							<div class="col-sm-6">
								<select id="sex" name="sex" data-placeholder="请选择性别" style="width: 100%" class="form-control select2">
									<option value="0">男</option>
									<option value="1">女</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="className" class="col-sm-3 control-label">生日</label>
							<div class="col-sm-6">
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-user"></i>
									</div>
									<input name="birthday" type="date" class="form-control">
								</div>
							</div>
						</div>
						<div class="form-group" id="province">
							<label for="phone" class="col-sm-3 control-label">省份</label>
							<div class="col-sm-6">
								<select name="provinceId" id="provinceId" data-placeholder="请选择省份" style="width: 100%" class="form-control select2">
								</select>
							</div>
							<span id="provinceMsg" style="color: red; display: none;">请选择省份</span>
						</div>
						<div class="form-group" id="city">
							<label for="phone" class="col-sm-3 control-label">市级</label>
							<div class="col-sm-6">
								<select name="cityId" id="cityId" data-placeholder="请选择城市" style="width: 100%" class="form-control select2">
								</select>
							</div>
							<span id="cityMsg" style="color: red; display: none;">请选择城市</span>
						</div>
						<div class="form-group" id="area">
							<label for="phone" class="col-sm-3 control-label">地区</label>
							<div class="col-sm-6">
								<select name="areaId" id="areaId" data-placeholder="请选择区县" style="width: 100%" class="form-control select2">
								</select>
							</div>
							<span id="areaMsg" style="color: red; display: none;">请选择区县</span>
						</div>
						<div class="form-group" id="province">
							<label class="col-sm-3 control-label">学校</label>
							<div class="col-sm-6">
								<select name="schoolId" id="schoolId" data-placeholder="请选择学校" style="width: 100%" class="form-control select2">
								</select>
							</div>
						</div>
						<div class="form-group" id="province">
							<label class="col-sm-3 control-label">班级</label>
							<div class="col-sm-6">
								<select id="classId" name="classId" data-placeholder="请选择班级" style="width: 100%" class="form-control select2">
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="className" class="col-sm-3 control-label">亲情号</label>
							<div class="col-sm-6">
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-phone"></i>
									</div>
									<input name="phone" id="phone" type="text" class="form-control">
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
				  	<button type="button" id="add" class="btn btn-small btn-primary">提交</button>
				  	<button type="button" id="cancel" class="btn btn-small btn-danger" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div><!--PAGE CONTENT ENDS-->
	
	<div id="infoModal" class="modal modal-info" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<a class="close" data-dismiss="modal">×</a>
					<h4 id="info_title">提示</h4>
				</div>
				<div class="modal-body">
					<p id="msg"></p>
				</div>
				<div class="modal-footer">
					<a href="#" class="btn btn-default" data-dismiss="modal">关闭</a>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
var rowHash={};
$(function() {
	initAddrElement();
	//initSchoolClass("schoolId");
	
	var table = initDataTable('getstudentedt');
	
	$(document).keyup(function(event){
		if(event.keyCode ==13){
			$("#search").trigger("click");
		}
	});
	
	/*搜索*/
	$("#search").click(function() {
		var param = $("#searchForm").serialize();
		var url = 'getstudentedt?'+param+'&t='+(new Date().getTime());
		table.ajax.url(url).load();
		//table.fnDestroy();
		//table = initDataTable(url);
	});
	
	/**/
	$('#add').on('click', function() {
		if ($('#add-form').valid()) {
			var url ="../sys/mergestudent";
			var param = $('#add-form').serialize();
			AjaxUtils(url,'POST',param,function(data){
				if(data){
					data = jQuery.parseJSON(data);
		    		//$("#notice-tip").show();
		    		//$("#notice-span").html(data.data.notice);
		    		
		    		if(data.data.result=="success"){
			    		$("#myModal").modal('hide');
		    		}
		    		alert(data.data.notice);
		    		
		    		//TODO 后期修改table刷新
		    		loadPage('getstudent');
	     		}else{
	     			alert('操作失败！');
	     		}
			});
		}
	});
	
	$("#batchRemove").on('click',function(){
		var ids = '';
		$("input[name='checkbox']").each(function(index,item){
			var v = $(this)[0].checked;
			if(v==true){
				var id = $(this).val();
				var currentRow = rowHash[id];
				ids=ids+id+",";
			}
		});
		
		if(ids.length<2){
			alert('请选择需要删除的学生');
			return false;
		}
		
		if(window.confirm('确认批量删除？')==true){
			var url='../sys/batchremovestudent';
			
			var param = 'ids='+ids;
			AjaxUtils(url,'GET',param,function(data){
				if(data){
					data = jQuery.parseJSON(data);
		    		alert(data.data.notice);
		    		
		    		loadPage('getstudent');
	     		}else{
	     			alert('操作失败！');
	     		}
			});
		}
	});

	/*初始化省级列表*/
	var url = "getaddressjson";
	var param = "type=1";
	AjaxUtils(url, 'GET', param, function(data) {
		if (data) {
			$("#provinceId").get(0).options.length = 0;
			$("#provinceId").get(0).options.add(new Option("", ""));
			for (var i = 0; i < data.data.data.length; i++) {
				$("#provinceId").get(0).options.add(new Option(data.data.data[i].name, data.data.data[i].code));
			};
		}
	});
	
	/*获取市级列表*/
	$("#provinceId").on('change',function(){
		var provinceCode = $(this).val();
		if(!provinceCode)return false;
		var url ="../sys/getaddressjson";
		var param = "type=2&addrcode="+provinceCode;
		AjaxSynUtils(url,'GET',param,function(data){
			if(data){
	    		$("#cityId").get(0).options.length=0;
	    		$("#cityId").get(0).options.add(new Option("", ""));
	    		for(var i = 0; i < data.data.data.length; i++){
	    			$("#cityId").get(0).options.add(new Option(data.data.data[i].name,data.data.data[i].code));
				};
     		}
		});
	});
	
	/*获取区县列表*/
	$("#cityId").on('change',function(){
		var provinceCode = $(this).val();
		if(!provinceCode)return false;
		var url ="../sys/getaddressjson";
		var param = "type=3&addrcode="+provinceCode;
		AjaxSynUtils(url,'GET',param,function(data){
			if(data){
	    		$("#areaId").get(0).options.length=0;
	    		$("#areaId").get(0).options.add(new Option("", ""));
	    		for(var i = 0; i < data.data.data.length; i++){
	    			$("#areaId").get(0).options.add(new Option(data.data.data[i].name,data.data.data[i].code));
				};
    		}
		});
	});

	$("#areaId").on('change',function(){
		var areaId = $(this).val();
		var cityId = $("#cityId").val();
		var provinceId = $("#provinceId").val();
		if(provinceId&cityId&areaId){
			initAreaSchool("schoolId",provinceId,cityId,areaId);
		}
	});
	
	$("#schoolId").on('change',function(){
		var schoolId = $(this).val();
		if(schoolId){
			initClassSelect("classId",schoolId);
		}
	});
	
	var rules = {name:"required",schoolId:"required",classId:"required",birthday:"required",sex:"required"};
	var messages = {name:"请输入姓名",schoolId:"请选择学校",classId:"请选择班级",birthday:"请输入生日",sex:"请选择性别"};
	var validator = validatorUtils('add-form',rules,messages);
	//初始化编辑模态框的手机号码
	$("#phone").inputmask("99999999999", {
		"placeholder" : "xxxxxxxxxxx"
	});
	
	//添加模态框隐藏后触发改事件
	$('#myModal').on('hide.bs.modal',function(){
		//清除验证错误信息
		validator.resetForm();
		//清空表单数据
		$('#add-form').get(0).reset();
		
		//清除错误信息残留样式
		$('#myModal .form-group').removeClass("has-error has-success has-feedback");
		$('#myModal .form-group').find("span").removeClass("glyphicon-ok glyphicon-remove");
	});
	
});

function initDataTable(url){
	var id="student_table";
	var columns = [{//多选框
		data: "id"
	}, {//学生名称
		data: "name",
		defaultContent : ''
	}, {//学生性别
		data: function(row, type, set) {
			return row.sex==0?'男':'女';
		}
	}, {//学生生日
		data: function(row, type, set){
			var val = row.birthday;
			if(!val){
				return "";
			}else{
				var d = new Date(val);
				return d.format("yyyy-MM-dd");
			}
			return "";
		},
		defaultContent : ''
	}, {//学生类型
		data: function(row, type, set){
			if(row.type == 0){
				return "走读生";
			}else{
				return "住宿生";
			}
		},
		defaultContent : ''
	}, {//学生卡号
		data: function(row, type, set) {
			//if (row.hasOwnProperty("relStudentEquipment"){
			//	return row.relStudentEquipment.equipmentId;
			//} else {
				return "";
				//}
		},
		defaultContent : ''
	}, {//学校
		data: function(row, type, set) {
			var tmp = '';
			try{
				tmp = row.mdClass.mdSchool.name;
			}catch(e){}
			return tmp;
		}
	}, {//年级
		data: function(row, type, set) {
			var tmp = '';
			try{
				tmp = row.mdClass.mdGrade.name;
			}catch(e){}
			return tmp;
		}
	}, {//班级
		data: function(row, type, set) {
			var tmp = '';
			try{
				tmp = row.mdClass.className;
			}catch(e){}
			return tmp;
		}
	}, {//家长信息
		data: function(row, type, set) {
			return '<input type="button" class="btn btn-info btn-sm" value="家长信息" onclick="fnShowModalParent('+row.id+')"/>';
		}
	}, {//创建人
		data:  function(row, type, set) {
			if (row.hasOwnProperty("sysUser")){
				return row.sysUser.name;
			} else {
				return "";
			}
		},
		defaultContent : ''
	}, {//创建时间
		data: function(row, type, set){
			var val = row.createTime;
			if(!val){
				return "";
			}else{
				var d = new Date(val);
				return d.format("yyyy-MM-dd hh:mm:ss");
			}
			return "";
		},
		defaultContent : ''
	}, {//操作
		data: function(row, type, set) {
			rowHash[row.id] = row;
        	return '<input type="button" data-toggle="modal" href="#myModal" onclick="setvalue(' + row.id + ')" class="btn btn-success btn-sm" value="修改" />&nbsp;&nbsp;<input type="button" onclick="removevalue(' + row.id + ')" class="btn btn-danger btn-sm" value="删除" />';
		}
	}];
	
	return initTable(id,url,columns)
}
	
function initvalue(){
	$("input[name='editid']").val(0);
	$('#add-form')[0].reset();
	$("#myModalLabel").html("添加学生信息");
}

function setvalue(id){
	initvalue();
	$("#myModalLabel").html("修改学生信息");
	var proNameArray = ["name","sex","birthday"];
	$("input[name='editid']").val(id);
	var currentRow = rowHash[id];

	//获取亲情号
	var url='../sys/getstudentparent';
	var param = 'id='+id;
	AjaxUtils(url,'GET',param,function(data){
		if(data){
			try{
	    		var objarry = data.data.relListInfo;
	    		$("input[name='phone']").val(objarry[0].mdUser.phone);
			}catch(e){}
 		}
	});
	
	try{
		$("#provinceId").val(currentRow.mdClass.mdSchool.provinceId);
		$("#provinceId").trigger('change');
		$("#cityId").val(currentRow.mdClass.mdSchool.cityId);
		$("#cityId").trigger('change');
		$("#areaId").val(currentRow.mdClass.mdSchool.areaId);
		$("#areaId").trigger('change');
		$("#schoolId").val(currentRow.mdClass.schoolId);
		$("#schoolId").trigger('change');
		$("#classId").val(currentRow.classId);
	} catch(e){
		
	}
	for(var i=0;i<proNameArray.length;i++){
		$("input[name='"+proNameArray[i]+"']").val(currentRow[proNameArray[i]]);
		if(proNameArray[i]=="birthday"){
			var d = new Date(currentRow[proNameArray[i]]);
			$("input[name='"+proNameArray[i]+"']").val(d.format("yyyy-MM-dd"));
		}
	}
}

function fnShowModalParent(id){
	var url='../sys/getstudentparent';
	var title = '家长信息';
	var param = 'id='+id;
	AjaxUtils(url,'GET',param,function(data){
		if(data){
			//data = jQuery.parseJSON(data);
    		var objarry = data.data.relListInfo;
    		var msg='';
    		for(var i=0;i<objarry.length;i++){
    			if(i!=0){
    				msg=msg+"<br>";
    			}
    			msg=msg+"姓名："+objarry[i].mdUser.name+",电话："+objarry[i].mdUser.phone;
    		}
    		if(''==msg){
    			msg="未找到相关信息！";
    		}
    		$("#info_title").empty().append(title);
    		$("#msg").empty().append(msg);
			$("#infoModal").modal('show');
 		}else{
 			alert('操作失败！');
 		}
	});
};
function fnShowModalClass(id){
	var url='../sys/getstudentclass';
	var title = '班级信息';
	var param = 'id='+id;
	AjaxUtils(url,'GET',param,function(data){
		if(data){
    		var obj = data.data.relInfo;
    		
    		var msg="班级："+obj.mdSchool.name+"-"+obj.mdGrade.name+"-"+obj.className;
    		if(''==msg){
    			msg="未找到相关信息！";
    		}
    		$("#info_title").empty().append(title);
    		$("#msg").empty().append(msg);
			$("#infoModal").modal('show');
 		}else{
 			alert('操作失败！');
 		}
	});
};

function removevalue(id){
	var currentRow = rowHash[id];
	if(window.confirm('确认删除 '+currentRow.name+' ？')==true){
		var url='../sys/removestudent';
		var param = 'id='+id;
		AjaxUtils(url,'GET',param,function(data){
			if(data){
				data = jQuery.parseJSON(data);
	    		//$("#notice-tip").show();
	    		//$("#notice-span").html(data.data.notice);
	    		
	    		alert(data.data.notice);
	    		
	    		//TODO 后期修改table刷新
	    		loadPage('getstudent');
     		}else{
     			alert('操作失败！');
     		}
		});
	}
}
</script>
