<!-- 以下内容将在导航条上通过jquery动态加载，实现局部刷新 -->
<section class="content-header">
	<h1>家校资讯</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-home"></i> 首页</a></li>
		<li class="active">新闻资讯</li>
		<li class="active">家校资讯</li>
	</ol>
</section>

<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title">家校资讯列表</h3>
				</div>
				<div class="box-body">
					<form id="searchForm" role="form">
						<div class="row">
							<div class="col-md-2">
								<div class="form-group">
									<label for="">学校名称</label> <input type="text" name="company"
										class="form-control" placeholder="请输入学校名称">
								</div>
							</div>

							<div class="col-md-2">
								<div class="form-group">
									<label for="">资讯标题</label> <input type="text" name="name"
										class="form-control" placeholder="请输入资讯标题">
								</div>
							</div>

							<div class="col-md-1">
								<div class="form-group">
									<label>&nbsp;&nbsp;</label> <a id="search"
										class="btn btn-block btn-social btn-info"> <i
										class="fa fa-search"></i> 查询
									</a>
								</div>
							</div>
						</div>
					</form>
				</div>

				<div class="box-footer">
					<div class="row">
						<div class="col-sm-2">
							<a class="btn btn-block btn-social btn-danger"> <i
								class="fa fa-trash"></i> 批量删除
							</a>
						</div>
						<div class="col-sm-2">
							<a data-toggle='modal' href="#newModal"
								class="btn btn-block btn-social btn-success"> <i
								class="fa fa-plus"></i> 添加资讯
							</a>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12" style="padding: 20px;">
							<table id="employee_table" width="100%"
								class="table table-bordered table-hover table-striped">
								<thead>
									<tr>
										<th>学校名称</th>
										<th>资讯标题</th>
										<th>资讯来源</th>
										<th>资讯链接地址</th>
										<th>操作</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>

					<div class="container">
						<div id="newModal" class="modal" aria-hidden="true">
							<div class="modal-dialog" style="width: 60%">
								<div class="modal-content">
									<div class="modal-header">
										<a class="close" data-dismiss="modal">×</a>
										<h4>资讯信息</h4>
									</div>
									<div class="modal-body">
										<form id="" class="form-horizontal" role="form">
											<div class="row">
												<div class="form-group">
													<label class="col-sm-1 control-label" for="common_province">省份</label>
													<div class="col-sm-3">
														<select id="common_province" name="provinceId"
															class="form-control"></select>
													</div>
													<label class="col-sm-1 control-label" for="">城市</label>
													<div class="col-sm-3">
														<select id="common_city" name="cityId"
															class="form-control"></select>
													</div>
													<label class="col-sm-1 control-label" for="">区县</label>
													<div class="col-sm-3">
														<select id="common_area" name="areaId"
															class="form-control"></select>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-1 control-label" for="school_id">学校名称</label>
													<div class="col-sm-3">
														<select id="school_id" name="schoolId"
															class="form-control"></select>
													</div>

													<label class="col-sm-1 control-label" for="titles">资讯标题</label>
													<div class="col-sm-3">
														<input id="titles" name="title" type="text"
															placeholder="请输入资讯标题" class="form-control">
													</div>

													<label class="col-sm-1 control-label" for="sourse">资讯来源</label>
													<div class="col-sm-3">
														<input id="source" name="source" type="text"
															placeholder="请输入资讯来源" class="form-control">
													</div>
												</div>
											</div>
											<div class="row">
												<textarea id="news" name="news" class="ckeditor"></textarea>
											</div>
										</form>
									</div>
									<div class="modal-footer">
										<a href="#" id="newSubmit" class="btn btn-success">提交</a> <a
											href="#" class="btn btn-default" data-dismiss="modal">取消</a>
									</div>
								</div>
							</div>
						</div>

						<div id="deleteModal" class="modal modal-warning"
							aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<a class="close" data-dismiss="modal">×</a>
										<h4>警告</h4>
									</div>
									<div class="modal-body">
										<p>你确定要删除这条信息吗？</p>
									</div>
									<div class="modal-footer">
										<a id="del" href="#" class="btn btn-danger">确认</a> <a href="#"
											class="btn btn-default" data-dismiss="modal">取消</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script>
	$(function() {
		initAddrElement();
		var editor = CKEDITOR.replace('news');

		$('#newSubmit').click(function() {
			var html = CKEDITOR.instances.news.getData();
			var schoolId = $("#school_id option:selected").val();
			var title = $("#titles").val();
			var source = $("#source").val();
			
			$.ajax({
				url :'addnews',
				type : 'post',
				data : {
					schoolId : schoolId,
					title : title,
					news : html,
					source : source
				},
				success : function(data){
					alert(111);
				}
			});
		});

		$('#common_area').on('change', function() {
			initSchoolCombobox();
		});
	});

	function initSchoolCombobox() {
		var province = $('#common_province option:selected').val();
		var city = $('#common_city option:selected').val();
		var area = $('#common_area option:selected').val();

		var url = "getschoollist";
		var param = "province=" + province + "&city=" + city + "&area=" + area;

		if (province != null && city != null && area != null) {
			AjaxUtils(url, 'GET', param, function(data) {
				if (data) {
					$("#school_id").get(0).options.length = 0;
					for (var i = 0; i < data.data.data.length; i++) {
						$("#school_id").get(0).options.add(new Option(
								data.data.data[i].name,
								data.data.data[i].schoolId));
					}
					;
				}
			});
		}
	}
</script>